Source: dsqss
Section: scientific
Priority: extra
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Homepage: https://github.com/qmc/dsqss

Package: dsqss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DSQSS: Discrete Space Quantum Systems Solver
 DSQSS is an application program for solving quantum many body
 problems in a discrete set (typically a lattice). It carries
 out quantum Monte Carlo simulations that sample from the Feynman
 path integral using the worm update. It can handle any lattice
 geometry and interaction.
